body {
  background-color: #e8eefa;
}

header li a,
header li button {
  font-weight: 500;
  font-size: 14px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

button[class*="primary"] {
  font-weight: 500;
  font-size: 14px;
}

.dark-bg,
.dark-bg img {
  position: relative;
  max-height: calc(100vh - 120px);
  min-height: 400px;
  object-fit: cover;
}
.dark-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
}

.heading-outline {
  font-size: 50px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.dark-bg .text-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
  color: #fff;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-sub {
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.mobile-menu header,
.mobile-menu {
  padding: 10px !important;
}

@media (max-width: 1024px) {
  .heading-outline {
    font-size: 25px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  .heading-sub {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
  }
  .dark-bg,
  .dark-bg img {
    position: relative;
    max-height: calc(100vh - 120px);
    object-fit: cover;
    min-height: calc(100vh - 63px);
  }
  .dark-bg::after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }

  .dark-bg .text-section {
    padding: 10px;
    justify-content: end;
    text-align: center;
  }
}
