body {
  background-color: #e8eefa;
}

header li a,
header li button {
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dropdown-headless:focus-visible {
  outline: none;
}
main {
  flex: 1;
}

button[class*="primary"] {
  font-weight: 500;
  font-size: 14px;
}

.dark-bg,
.dark-bg img {
  position: relative;
  max-height: calc(100vh - 120px);
  min-height: 400px;
  object-fit: cover;
}
.dark-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
}

.heading-outline {
  font-size: 50px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.dark-bg .text-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
  color: #fff;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-sub {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.mobile-menu header,
.mobile-menu {
  padding: 10px !important;
}

.error {
  color: #20293f;
  /* box-shadow: 0 5px 0px -2px #20293f; */
  text-align: center;
  animation: fadein 1.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error > .code {
  font-size: 10.5em;
  text-shadow: 0 6px 1px rgba(0, 0, 0, 0.0980392),
    0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
  margin: 0;
}
.error > .desc {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5), 0px 6px 20px rgba(0, 0, 0, 0.3);
  font-weight: 400;
}
@keyframes fadein {
  0% {
    margin-top: -50px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .heading-outline {
    font-size: 30px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  .heading-sub {
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-weight: 600;
  }
  .dark-bg,
  .dark-bg img {
    position: relative;
    max-height: calc(100vh - 120px);
    object-fit: cover;
    min-height: calc(100vh - 63px);
  }
  .dark-bg::after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }

  .dark-bg .text-section {
    padding: 10px;
    justify-content: end;
    text-align: center;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
